<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391873827077-tp12849igo4f8ighvlpla0jaokgml8nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391873827077-tp12849igo4f8ighvlpla0jaokgml8nt</string>
	<key>API_KEY</key>
	<string>AIzaSyCLYLKWumBx-eBR4EGfGUSfwk2PjIMM-c8</string>
	<key>GCM_SENDER_ID</key>
	<string>391873827077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-4ebe1</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-4ebe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391873827077:ios:600fb123272324ad8b676c</string>
</dict>
</plist>